@import helper._

@(addProductForm: Form[models.Product], user: models.users.User)


@main("Add Product", user) {
         </div>
    <div class="col-md-9">

                <div class="thumbnail">
                    <img src="http://www.lifestylepets.org/wp-content/uploads/2015/11/pet_composite-670x300.jpg" alt="pets">
                    <div class="caption-full">
                    </div>
                       
                </div>

                <div class="well">

                 <h2 class = "text-center">Admin</h2>     

                  @form(action = routes.HomeController.addProductSubmit(), 'class -> "form-horizontal", 'role -> "form", 'enctype -> "multipart/form-data") {

                  @inputText(addProductForm("name"), '_label -> "Name", 'class -> "form-control")
                  @select(
			addProductForm("category.id"),
			
			options(Category.options),
			'_label -> "Category", '_default -> "-- Choose a category --",
			'_showConstraints -> false, 'class -> "form-control"
		)
                  @inputText(addProductForm("description"), '_label -> "Description", 'class -> "form-control")
                  @inputText(addProductForm("stock"), '_label -> "Stock", 'class -> "form-control")
                  @inputText(addProductForm("price"), '_label -> "Price", 'class -> "form-control")

                  @inputText(addProductForm("id"), '_label -> "", 'hidden -> "hidden")
                   
                  <label>Image Upload</label>
                   <input class = "btn-sm btn-default" type="file" name="upload">
                   <br><br>
                  <div class ="actions">
                    <input type ="submit" value ="Add Product" class ="btn btn-primary">
                    <a href ="@routes.HomeController.index()"
                      <button class ="btn btn-warning">Cancel</button>
                    </a>
                  <div>
                } 

                    

                    

                    
                    

                     

                   
                    

                    
            </div>

        </div>
}
