@(categories: List[models.Category], user: models.users.User)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Contact", user) {

    <div class ="list-group">
         <a href="@routes.HomeController.products(0)" class ="list-group-item">All Catagories</a>


         @for(c <- categories) {
           <a href ="@routes.HomeController.products(c.getId)" class ="list-group-item">@c.getName
             <span class ="badge">@c.getProducts.size()</span>
           </a>
        }
       </div>
     </div>

    <div class="col-md-9">

                <div class="thumbnail">
                    <img src="http://www.lifestylepets.org/wp-content/uploads/2015/11/pet_composite-670x300.jpg" alt="pets">
                    <div class="caption-full">
                    </div>
                       
                </div>

                <div class="well">

                 <h2 class = "text-center">Contact Us</h2>  
                    <div id ="dogphone">
				       <img src="http://www.happyfur.com.sg/images/contact-image.png" alt="contactimg">
				    </div>				 
                    <h4 class = "text-center"> Phone: 0856474634</h4>
					 <h4 class = "text-center">Or contact us online</h4>
                    <hr>

                    <div class="row">
                        <div class="col-md-3">
						 <a href = "https://www.instagram.com"><img class="contacts" src="https://image.freepik.com/free-icon/instagram-logo_318-53344.jpg"alt="Email Logo">
						 </a>
                        </div>
						<div class="col-md-3">
                         <a href ="https://login.live.com"><img class="contacts" src="http://www.clipartkid.com/images/54/email-icon-clip-art-at-clker-com-vector-clip-art-online-royalty-SQI4QU-clipart.png"alt="Telephone Logo">
						 </a>
                        </div>
						<div class="col-md-3">
						<a href = "https://www.facebook.com/"><img class="contacts" src="https://image.freepik.com/free-icon/facebook-symbol_318-37686.jpg" alt="Facebook Logo">
						</a>
                        </div>
						<div class="col-md-3">
						 <a href ="https://twitter.com/"><img class="contacts" src="https://image.freepik.com/free-icon/twitter-bird-in-a-rounded-square_318-41054.jpg"target ="blank" alt="Twitter Logo">
						 </a>
                        </div>
                    </div>

                    

                </div>

            </div>
}
