@(categories: List[models.Category], user: models.users.User)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Home", user) {
      
        
      <div class ="list-group">
         <a href="@routes.HomeController.products(0)" class ="list-group-item">All Catagories</a>


         @for(c <- categories) {
           <a href ="@routes.HomeController.products(c.getId)" class ="list-group-item">@c.getName
             <span class ="badge">@c.getProducts.size()</span>
           </a>
        }
       </div>
     </div>
   
   

    <div class="col-md-9">

      
    

                <div class="thumbnail">
                    <img src="http://www.lifestylepets.org/wp-content/uploads/2015/11/pet_composite-670x300.jpg" alt="pets">
                    <div class="caption-full">
                    </div>
                       
                </div>

                <div class="well">

                 <h2 class = "text-center">Pet Everything</h2>     

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
						<p class ="para">Here at Pet Everything we strive to be the most up to date, Animal friendly, non profit organisation possible.
						We work closely with animal charaties such as the WWF, ISPCA, Dogs Trust, The Blue Cross and many more. It is our aim to 
						help to prevent the mistreatment of animals around the world. WE do this by donating the profits we earn from you when you
						are buying our top quality products. If you want a happy pet and also want to help other less fortunate animals buy from us.</p>
                            
                           
                           
                            
                        </div>
                    </div>

                    

                    <div class="row">
                        <div class="col-md-12">
						<h4 class ="text-center">Best Selling Items</h4>
                            
                           
                           
                            
                        </div>
                    </div>

                     <hr>

                    <div class="row">
                        <div class="col-md-3">
                            <img class = "items" src = "https://s-media-cache-ak0.pinimg.com/originals/ba/c3/ea/bac3eae249bd325843d67784e4a640e1.jpg" alt = "cattoy"> 
							<p class = "text-center"> €28.99</p>
                        </div>
						<div class="col-md-3">
                            <img class = "items" src = "https://heavyeditorial.files.wordpress.com/2016/04/ourpets3.jpg?quality=65&strip=all&strip=all" alt = "cattoy">
							<p class = "text-center"> €8.99</p>
                        </div>
						<div class="col-md-3">
                            <img class = "items" src = "http://i.ebayimg.com/00/s/NTAwWDUwMA==/z/R90AAOSw1XdUU48e/$_35.JPG?set_id=2" alt = "cattoy">
							<p class = "text-center"> €9.99</p>
                        </div>
						<div class="col-md-3">
                            <img class = "items" src = "https://cdn.shopify.com/s/files/1/0667/8707/products/crazy_tails_large.jpg?v=1416990064" alt = "cattoy">
							<p class = "text-center"> €12.99</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            
                            <h4 class ="text-center">Sale Items</h4>							
                        </div>
					
                    </div>
					<hr>
					
					 <div class="row">
                        <div class="col-md-3">
                            <img class = "items" src = "https://www.greenscountrystore.co.uk/pictures/products%2Fpets/cat-collar.JPG" alt = "cattoy"> 
                            <p class ="text-center">Was €9.99<br>Now 7.99</p>							
                            							
                        </div>
						<div class="col-md-3">
                            <img class = "items" src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFr5DWD5RoiY4kYXtQ0QJLSuNvTaNtBqAu14P2TApnEauUX9zy" alt = "cattoy">
							<p class ="text-center">Was €24.99<br>Now €18.99</p>							
                           
                        </div>
						<div class="col-md-3">
                            <img class = "items" src = "http://www.kadincasayfa.com/wp-content/uploads/2014/02/Hayvanlar-i%C3%A7in-bah%C3%A7e-aksesuar%C4%B1.jpg" alt = "cattoy">
							<p class ="text-center">Was €44.99<br>Now €39.99</p>							
                            
                        </div>
						<div class="col-md-3">
                            <img class = "items" src = "http://www.winterbluemusic.com/wp-content/uploads/2016/03/Cat-And-Dog-Accessories.jpg" alt = "cattoy">
							<p class ="text-center">Was €29.99<br>Now €24.99</p>							
                            
                        </div>
                    </div>
					
                 </div>

                    

                    
            </div>
}
