@(products: List[models.Product], categories: List[models.Category], user: models.users.User, env: play.api.Environment)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Products", user) {

    <div class ="list-group">
         <a href="@routes.HomeController.products(0)" class ="list-group-item">All Catagories</a>


         @for(c <- categories) {
           <a href ="@routes.HomeController.products(c.getId)" class ="list-group-item">@c.getName
             <span class ="badge">@c.getProducts.size()</span>
           </a>
        }
       </div>
     </div>

       
    <div class ="col-sm-9">

       @if(flash.containsKey("success")) {
          <div class ="alert alert-success">
          @flash.get("success")
          </div>
       }
      <p class ="lead"></p>
      <table class ="table table-bordered table-hover table-condensed">
        <thead>

        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Category</th>
          <th>Description</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>

         @for(p <- products) {
	   <tr>
              @if(env.resource("public/images/productImages/thumbnails/" + p.getId + ".jpg").isDefined) {
                      <td><img src="/assets/images/productImages/thumbnails/@(p.getId + ".jpg")"/></td>
                  } else {
                      <td><img src="/assets/images/productImages/thumbnails/noImage.png"/></td>
                  }
              <td>@p.getName</td>
              <td>@p.getCategory.getName</td>
              <td>@p.getDescription</td>
              <td>&euro; @("%.2f".format(p.getPrice))</td>
              @if(user != null) {
              <td>
                      <a href="@routes.HomeController.updateProduct(p.getId)" class="btn-xs btn-danger">
                      <span class="glyphicon glyphicon-pencil"></span></a>
                  </td>
              <td>
                 <a href="@routes.HomeController.deleteProduct(p.getId)" class="btn-xs btn-danger"
                    onclick="return confirmDel();">
                    <span class="glyphicon glyphicon-trash"></span>
                 </a>
               </td>
               }
           </tr>
          }
         </tbody>
        </table>
        <p>
         <a href ="@routes.HomeController.addProduct()">
           <button class ="btn btn-primary">Add a Product</button>
         </a>
        </p>
      </div> 

     <script>

       function confirmDel() {
          return confirm('Are you sure?');
       }
     </script>         
}



