@(categories: List[models.Category], user: models.users.User)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Services", user) {

    <div class ="list-group">
         <a href="@routes.HomeController.products(0)" class ="list-group-item">All Catagories</a>


         @for(c <- categories) {
           <a href ="@routes.HomeController.products(c.getId)" class ="list-group-item">@c.getName
             <span class ="badge">@c.getProducts.size()</span>
           </a>
        }
       </div>
     </div>

    <div class="col-md-9">

                <div class="thumbnail">
                    <img src="http://www.lifestylepets.org/wp-content/uploads/2015/11/pet_composite-670x300.jpg" alt="pets">
                   <div class ="caption-full">
					</div> 
				</div>

                <div class="well">

                 <h2 class = "text-center">Services</h2>     

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
						<p class = "para">Here at Pet Everything We like to work closely with pet friendly organisations and charitie's to help facilitate and promote
                           	fair, humane and responsible treatment for all animals.	Animal welfare is of great importance to us as a company, we want to 
							ensure that animals are treated with respect and don't have to deal with cruelty, neglect or abuse.
							
						</p>
                            <p class = "para">We are a non-profit company and we donate a high percentage of our earnings to animal rights groups to try to help 
                                              them achieve their goals, in terms of animal welfare. WE have been operating for over two years and have so far donated £50,000
                                              to various animal welfare organisations. We have seen some of the benefits of our donations and in our view it was worth every penny,
                                              but none of this could have been possible without you our customer. So if your buying pet accesserys, buy from us and know that your contributing
											  towards a great cause. 
							</p>
							<p class = "para">Below we have some buttons linking you to our favourite and most trusted animal welfare sites, give them a click if you want to check them out</p>
                         
                           
                            
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-4">
						<a href ="https://support.wwf.org.uk/"><img class = "logos" src = "https://s-media-cache-ak0.pinimg.com/originals/29/4d/33/294d3303dee18ee592228bc405f75b5d.jpg" alt = "WWF Logo">
                         </a>   
                        </div>
						<div class="col-md-4">
                            <a href ="https://www.dogstrust.ie/"><img class = "logos" src = "http://smartfuse.s3.amazonaws.com/cockshut.bham.sch.uk/uploads/2014/05/dogstrustlogo.jpg" alt = "WWF Logo">
							</a>
                        </div>
						<div class="col-md-4">
						    
                               <a href ="http://www.bluecross.ie/"><img class = "logos" src = "https://paag.files.wordpress.com/2009/03/blue_cross_logo_lr_rgb.jpg" alt = "WWF Logo">
                               </a>
						
							
                        </div>
                    </div>

                    

                    

                </div>

            </div>
}
