@(categories: List[models.Category], user: models.users.User)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Tips", user) {

    <div class ="list-group">
         <a href="@routes.HomeController.products(0)" class ="list-group-item">All Catagories</a>


         @for(c <- categories) {
           <a href ="@routes.HomeController.products(c.getId)" class ="list-group-item">@c.getName
             <span class ="badge">@c.getProducts.size()</span>
           </a>
        }
       </div>
     </div>

    <div class="col-md-9">

                <div class="thumbnail">
                    <img src="http://www.lifestylepets.org/wp-content/uploads/2015/11/pet_composite-670x300.jpg" alt="pets">
                    <div class="caption-full">
                    </div>
                       
                </div>

                <div class="well">

                 <h2 class = "text-center">Handy Tips</h2> 
                 <h4 class = "text-center">For aspiring pet owners</h4>	
                 <!--try dog pics-->				 
                 <hr>				 

                   

                    <div class="row">
                        <div class="col-md-12">
						
						<p class = "hash">#1 Can You Commit?</p>
						
						<br>
						
						<p class = "para">Will you have the time to walk your dog three times a day? Will you remember to exercise your cat every evening? If the answer
						is no, and you have no one who can perform those essential tasks, you should stop right here and consider a fish or a parakeet as
						a low-demand animal companion.</p>
						<hr>
						
						<br>
						
						<p class = "hash">#2 Will Your Pet Fit Your Lifestyle?</p>
						
						<br>
						
						<p class = "para">Get to know the breed you are interested in and be open to changing your mind if it doesn’t fit your ability to provide for
						its temperament. Ask lots of questions from the people adopting the animal out, maybe even find a breed specific group to ask
						questions of some of the members. A great example is the recent Chihuahua craze. Sure, they’re adorable and can live in any size
						home, and they’re very low maintenance. The catch is that they are not usually very tolerant of children and are one of the breeds
						that are known for biting children without much provocation. A pet cat should also match your personality. Some cats, for instance,
						require a lot of attention and interaction while others are mostly independent. Do your research and choose wisely.</p>
						<hr>
                        
						
						<br>
						
						<p class = "hash">#3 Make Your Home Pet-Friendly</p>
						
						<br>
						
						<p class = "para">Did you know that something as simple as chewing gum can be deadly for dogs, or that ibuprofen is toxic to cats? It is highly
						important to go through your home now, before you bring a new pet home, to search out hazards and get them out of the way or out
						of the house. This includes cabinets at pet level, counter tops, bottles of chemical on the floor, small toys, electric cords and
						curtain cords. And it doesn’t stop there. You will also need to check your home and yard for toxic plants for dogs or cats, and
						if you carry a purse or bag, you will need to find and discard any potential dangers – like sugar-free gum, which often contains
						xylitol.</p>
						<hr>
						
						<br>
						
						<p class = "hash">#4 Choose an Age and Breed Appropriate Food</p>
						
						<br>
						
						<p class = "para">Not all pet foods are alike. Some are better than others, and some make claims that are not always backed by facts.
						It would be easy to just grab the pet food bag or can with the nicest design on the cover, but that is not what is going to
						guarantee our pets’ long term health. Choose the best food for your dog or cat and always look for a diet labeled complete 
						and balanced. From the time they are young until the time they are seniors, your pet food choices should be guided by the pet’s 
						specific needs, life stage, and lifestyle. You can do some cursory research to get a good idea of why it is important and what to 
						look for, but for the best advice, consult your veterinarian.</p>
						<hr>
						
						<br>
						
						<p class = "hash">#5 Train Your Pet</p>
						
						<br>
						
						<p class = "para">If your happy home is going to remain a happy home, the housetraining will need to start immediately after bringing your pet
						home. If you are adopting a kitten, introduce him to his litterbox as soon as you get him inside. If it is a puppy, leash him up 
						and take him outside to start getting to know his neighborhood. Most puppies will be intimidated by their new surrounding, and you
						don’t want to put a fright into your puppy. A very short walk on the first outing is all that is needed. Begin training on that
						first outing. When the puppy relieves himself outside, while he is doing it say, “Go now.” Repetition of this command will 
						eventually make it so that you will be able to take your dog out in any kind of weather without worrying about how long your dog
						will take to relieve himself.</p>
						
						</div>
						
                    </div>

                    <hr>

                    

                    

                </div>

            </div>
}
